In [6]:
#Import Dependencies

import requests
import pandas as pd
from config import pub_key
from config import hash_key
import json

url = 'http://gateway.marvel.com/v1/public/characters'

response = requests.get(f"{url}?ts=1&apikey={pub_key}&hash={hash_key}").json()
total = response['data']['total']
print(len(response))
print(total)
char_list = []
char_id = []
calls=int(total/100)
calls

7
1493

74

In [7]:
for i in range(calls):
    if (i % 100 == 0):
        j=i*100
        response = requests.get(f"{url}?ts=1&apikey={pub_key}&hash={hash_key}&limit=100&offset={j}").json()
    for char in response['data']['results']:
        char_list.append(char["name"])
        char_id.append(char["id"])

In [8]:
char_df = pd.DataFrame({'Character':char_list, "ID": char_id})

In [9]:
char_df.to_csv("characters.csv", encoding = 'utf-8', index = False)

In [10]:
char_df

                       Character       ID
0                        3-D Man  1011334
1                   A-Bomb (HAS)  1017100
2                         A.I.M.  1009144
3                    Aaron Stack  1010699
4     Abomination (Emil Blonsky)  1009146
...                          ...      ...
1475                      Aurora  1009163
1476                   Avalanche  1009164
1477                    Avengers  1009165
1478         Avengers (Ultimate)  1015239
1479             Azazel (Mutant)  1011766

[1480 rows x 2 columns]