In [1]:
#Import Dependencies
import requests
import pandas as pd
from character_lists import char_names
import csv
import json

In [2]:
# def CustomParser(data):
#     j1 = json.loads(data)
#     return j1

In [3]:
#Read in csv and character list
j = "comics.csv"
comics = pd.read_csv(j)
comics.drop(comics.columns[0], axis=1, inplace=True)
comics.head()

,ID,Title,Date,Characters,Creators
0,82967,Marvel Previews (2017),"[{'type': 'onsaleDate', 'date': '2099-10-30T00...",[],[{'resourceURI': 'http://gateway.marvel.com/v1...
1,82965,Marvel Previews (2017),"[{'type': 'onsaleDate', 'date': '2099-08-28T00...",[],[]
2,82970,Marvel Previews (2017),"[{'type': 'onsaleDate', 'date': '2099-01-29T00...",[],[{'resourceURI': 'http://gateway.marvel.com/v1...
3,58586,The Amazing Spider-Man (2015) #19 (Veregge Bla...,"[{'type': 'onsaleDate', 'date': '2029-12-31T00...",[],[{'resourceURI': 'http://gateway.marvel.com/v1...
4,1220,Amazing Spider-Man 500 Covers Slipcase - Book ...,"[{'type': 'onsaleDate', 'date': '2029-12-31T00...",[],[]

In [4]:
#Convert strings in df columns to series and delete old columns
#Start with dates
list_of_dates=[]
comic_date = comics['Date']
for indiv_date in comic_date:
    date_list = eval(indiv_date)
    list_of_dates.append(date_list)
date_series = pd.Series(list_of_dates)
comics['Date Series'] = date_series
#Repeat with characters
list_of_chars=[]
comic_char = comics['Characters']
for indiv_char in comic_char:
    char_list = eval(indiv_char)
    list_of_chars.append(char_list)
char_series = pd.Series(list_of_chars)
comics['Character Series'] = char_series
#Repeat with creators
list_of_creates=[]
comic_creates = comics['Creators']
for indiv_create in comic_creates:
    create_list = eval(indiv_create)
    list_of_creates.append(create_list)
create_series = pd.Series(list_of_creates)
comics['Creator Series'] = create_series
comics.drop(comics.columns[[2, 3, 4]], axis=1, inplace=True)
comics.head()

,ID,Title,Date Series,Character Series,Creator Series
0,82967,Marvel Previews (2017),"[{'type': 'onsaleDate', 'date': '2099-10-30T00...",[],[{'resourceURI': 'http://gateway.marvel.com/v1...
1,82965,Marvel Previews (2017),"[{'type': 'onsaleDate', 'date': '2099-08-28T00...",[],[]
2,82970,Marvel Previews (2017),"[{'type': 'onsaleDate', 'date': '2099-01-29T00...",[],[{'resourceURI': 'http://gateway.marvel.com/v1...
3,58586,The Amazing Spider-Man (2015) #19 (Veregge Bla...,"[{'type': 'onsaleDate', 'date': '2029-12-31T00...",[],[{'resourceURI': 'http://gateway.marvel.com/v1...
4,1220,Amazing Spider-Man 500 Covers Slipcase - Book ...,"[{'type': 'onsaleDate', 'date': '2029-12-31T00...",[],[]

In [5]:
#Extract Earliest Date and replace
list_of_dates = []
for i in comics['Date Series']:
    j = i[0]['date']
    k = j[0:4]
    k= int(k)
    if  (k > 1900) & (k < 2030):
        list_of_dates.append(k)
    else:
        list_of_dates.append(0)
date_series = pd.Series(list_of_dates)
comics['Date'] = date_series
print(date_series)
comics.drop(comics.columns[2], axis=1, inplace=True)
comics.tail()

0           0
1           0
2           0
3        2029
4        2029
         ...
48795       0
48796       0
48797       0
48798       0
48799       0
Length: 48800, dtype: int64

,ID,Title,Character Series,Creator Series,Date
48795,19186,Millie the Model (1945) #50,[],[],0
48796,19187,Millie the Model (1945) #51,[],[],0
48797,19188,Millie the Model (1945) #52,[],[],0
48798,19189,Millie the Model (1945) #53,[],[],0
48799,19190,Millie the Model (1945) #54,[],[],0

In [28]:
#flatten df by making rows for creators (but preserve one row so flattening on characters can occur)
flat_comics_df = pd.DataFrame()
flat_id_list = []
flat_title_list = []
flat_date_list = []
flat_creators_list = []
flat_characters_list = []
for i, v in comics.iterrows():
    # try: #requires id, title, and date to do other operations
   
    try: #try looping through creators, and nested looping through characters
                creators = v[3]
                for j in creators:
                    flat_creator = j['name']
                    try: #adds new row for each character that includes current creator
                        characters = v[2]
                        for k in characters:
                            flat_char = k['name']
                            flat_characters_list.append(flat_char)
                            flat_creators_list.append(flat_creator)
                            flat_id_list.append(v[0])
                            flat_title_list.append(v[1])
                            flat_date_list.append(v[4])
                    except:
                            flat_characters_list.append("")
                            flat_creators_list.append(flat_creator)
                            flat_id_list.append(v[0])
                            flat_title_list.append(v[1])
                            flat_date_list.append(v[4])                   
    except:
                    try:
                        characters = v[2]
                        for k in characters:
                            flat_char = k['name']
                            flat_characters_list.append(flat_char)
                            flat_creators_list.append("")
                            flat_id_list.append(v[0])
                            flat_title_list.append(v[1])
                            flat_date_list.append(v[4])
                    except:
                        pass
dict = {"ID": flat_id_list, "Title": flat_title_list, "Date": flat_date_list, "Creator": flat_creators_list, "Character": flat_characters_list}
cdcc_df = pd.DataFrame(dict)
cdcc_df.to_csv("ccdc_df.csv")

In [53]:
for title in cdcc_df['Title']:
    title_slice = title[-5:-1]
    try:
      int_slice = int(title_slice)
      if  (int_slice > 1900) & (int_slice < 2030):
        cdcc_df.loc[cdcc_df['Title'] == title]['Date'] = int_slice
        print(cdcc_df.loc[cdcc_df['Title'] == title]['Date'])
    except:
        pass

    ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502092    0
502093    0
502094    0
502095    0
502096    0
         ..
502152    0
502153    0
502154    0
502155    0
502156    0
Name: Date, Length: 65, dtype: int64
502157    0
502158    0
502159    0
502160    0
Name: Date, dtype: int64
502157    0
502158    0
502159    0
502160    0
Name: Date, dtype: int64
502157    0
502158    0
502159    0
502160    0
Name: Date, dtype: int64
502157    0
502158    0
502159    0
502160    0
Name: Date, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64
502173    0
502174    0
502175    0
502176    0
502177    0
         ..
502232    0
502233    0
502234    0
502235    0
502236    0
Name: Date, Length: 64, dtype: int64

In [54]:
cdcc_df.head()

      ID                            Title  Date           Creator    Character
0  17486  X-Men: Phoenix - Warsong (2006)  2029  Vc Joe Caramagna        Beast
1  17486  X-Men: Phoenix - Warsong (2006)  2029  Vc Joe Caramagna     Colossus
2  17486  X-Men: Phoenix - Warsong (2006)  2029  Vc Joe Caramagna      Cyclops
3  17486  X-Men: Phoenix - Warsong (2006)  2029  Vc Joe Caramagna   Emma Frost
4  17486  X-Men: Phoenix - Warsong (2006)  2029  Vc Joe Caramagna  Kitty Pryde

In [101]:
list_of_chars=[]
comic_char = comics['Characters']
for indiv_char in comic_char:
    char_list = eval(indiv_char)
    list_of_chars.append(char_list)
type(list_of_chars)

list

In [55]:
#Question: what's the distribution of appearances of Marvel characters?
char_counts = {}
for i in list_of_chars:
    for j in i:
        char_key = j['name']
        if char_key in char_counts.keys():
            char_counts[char_key] = char_counts[char_key]+1
        else:
            char_counts[char_key] = 1
print(char_counts)

, 'Power Pack': 132, 'Mary Jane Watson': 406, 'Silver Sable': 72, 'Ben Urich': 54, 'Alex Power': 19, 'Energizer': 11, 'Lightspeed': 37, 'Marauders': 17, 'Prism': 7, 'Riptide': 12, 'Scalphunter': 18, 'Vertigo (Savage Land Mutate)': 29, 'Cyclops (Ultimate)': 69, 'Human Torch (Ultimate)': 57, 'Invisible Woman (Ultimate)': 54, 'Nightcrawler (Ultimate)': 40, 'Shadowcat (Ultimate)': 10, 'Thing (Ultimate)': 49, 'Wolverine (Ultimate)': 97, 'X-Men (Ultimate)': 187, 'Black Bolt': 162, 'Echo': 33, 'Edwin Jarvis': 107, 'Gorgon': 64, 'Sentry (Robert Reynolds)': 113, 'Silver Samurai': 39, 'Spider-Woman (Jessica Drew)': 271, 'Black Knight (Sir Percy of Scandia)': 107, 'Blade': 96, 'Captain Marvel (Mar-Vell)': 199, 'Dormammu': 53, 'Mad Thinker': 33, 'Sub-Mariner': 544, 'Wong': 88, 'Bishop': 295, 'Rachel Grey': 88, 'Sentinels': 55, 'Bullseye': 130, 'Runaways': 133, 'Dead Girl': 10, 'Gwen Stacy': 78, 'Union Jack (Joseph Chapman)': 24, 'X-Statix': 42, 'John Jameson': 11, 'Colleen Wing': 82, 'Heroes For Hire': 85, 'Misty Knight': 165, 'Carol Danvers': 32, 'Blackout': 6, 'Ghost Rider (Daniel Ketch)': 77, 'Ghost Rider (Johnny Blaze)': 293, 'Kingpin': 247, 'Mr. Hyde': 33, 'Swordsman': 51, 'Zemo': 15, 'Exiles': 148, 'Cable': 431, 'Cable (Deadpool)': 39, 'Dazzler (Ultimate)': 17, 'Lilandra': 111, 'Sabretooth (Ultimate)': 24, 'Sally Floyd': 8, 'Abomination (Emil Blonsky)': 54, 'Boomerang': 43, 'Bruce Banner': 130, 'High Evolutionary': 39, 'Puppet Master': 39, 'The Stranger': 11, 'Tyrannus': 15, 'Doc Samson': 106, 'Bushwacker': 13, 'Grey Gargoyle': 29, 'Sauron': 51, 'Excalibur': 214, 'Mikhail Rasputin': 10, 'Sentinel': 59, 'Araña': 24, 'Darkhawk': 52, 'Sleepwalker': 14, 'Speedball (Robert Baldwin)': 36, 'Terror': 12, 'X-23': 220, 'Marvel Zombies': 32, 'Agent Zero': 29, 'Chamber': 53, 'Fantomex': 64, 'Peter Parker': 197, 'Kat Farrell': 12, 'Shang-Chi': 224, 'Sue Storm': 40, 'Drax': 78, 'Elektra': 200, 'Eddie Brock': 184, 'Puma': 31, 'Damage Control': 20, 'Doctor Doom': 424, 'Wolfpack': 17, 'Valkyrie (Samantha Parrington)': 17, 'Star Brand': 33, 'Glorian': 12, 'Mr. Fixit': 25, 'Clea': 99, 'Hellfire Club': 32, 'Sebastian Shaw': 39, 'Selene': 25, 'Boom Boom': 68, 'Rictor': 106, 'Alpha Flight': 210, 'Alicia Masters': 61, 'Ben Grimm': 46, 'Frightful Four': 20, 'Hydro-Man': 19, 'Polaris': 247, 'Proteus': 14, 'Dakota North': 21, 'Firelord': 43, 'Quasar (Wendell Vaughn)': 39, 'Dracula': 112, 'Enchantress (Amora)': 26, 'Enchantress (Sylvie Lushton)': 3, 'Killraven': 39, 'Rawhide Kid': 126, 'Mephisto': 119, 'Mandarin': 79, 'Longshot': 87, 'Sabretooth': 282, 'Kang': 123, 'Mantis': 53, 'Blockbuster': 13, 'Namora': 51, 'Owl': 20, 'Justice': 73, 'Betty Brant': 27, 'Nomad': 21, 'Red Wolf': 25, 'Goblin Queen': 10, 'Harpoon': 14, 'Jamie Braddock': 14, 'Mr. Negative': 27, 'Quentin Quire': 50, 'Agent Brand': 19, 'Eternals': 59, 'Typhoid Mary': 40, 'Morbius': 94, 'Aurora': 72, 'Northstar': 95, 'Hellion': 28, 'Jane Foster': 63, 'Empath': 22, 'Orphan-Maker': 10, 'Wild Child': 34, 'Elsa Bloodstone': 39, 'Deviants': 8, 'Maestro': 19, 'Hercules': 297, 'Moondragon': 67, 'Nova': 175, 'Quasar (Phyla-Vell)': 98, 'Star-Lord (Peter Quill)': 95, 'Spectrum': 31, 'Donald Blake': 12, 'Hellcat (Patsy Walker)': 89, 'M.O.D.O.K.': 48, 'Vengeance (Michael Badilino)': 37, 'U.S. Agent': 60, 'Rocket Raccoon': 90, 'Uatu The Watcher': 65, 'Ms. Marvel (Kamala Khan)': 185, 'Agents of Atlas': 45, 'Amadeus Cho': 148, 'Nova (Sam Alexander)': 69, 'Beta-Ray Bill': 45, 'Sif': 170, 'Silver Fox': 14, 'Magik (Illyana Rasputin)': 103, 'Cypher': 22, 'Kree': 24, 'Skrulls': 126, 'Werewolf By Night': 85, 'Moon Girl (Lunella Layfayette)': 78, 'Anole': 5, 'Rockslide': 28, 'Madelyne Pryor': 20, 'Devil Dinosaur (Devil Dinosaur)': 83, 'Wraith': 14, 'Armor (Hisako Ichiki)': 24, 'Exodus': 25, 'Magma (Amara Aquilla)': 60, 'Shanna the She-Devil': 63, 'Captain America (Sam Wilson)': 55, 'Stepford Cuckoos': 39, 'Omega Red': 52, 'Multiple Man': 44, 'Black Tom': 15, 'Rick Jones': 180, 'Angela (Aldrif Odinsdottir)': 36, 'Daimon Hellstrom': 56, 'Ant-Man (Scott Lang)': 114, 'Sway': 1, 'Vulcan (Gabriel Summers)': 21, 'Jessica Drew': 13, 'Forge': 147, 'Corsair': 28, 'Gladiator (Kallark)': 83, 'Hepzibah': 36, 'Imperial Guard': 17, 'Raza': 31, 'Mockingbird': 91, 'Quake (Daisy Johnson)': 39, 'Defenders': 208, 'Kraven the Hunter': 68, 'Meggan': 18, 'Pete Wisdom': 20, 'Tony Stark': 43, 'Machine Man': 90, 'Groot': 37, 'Nightmare': 58, 'Nebula': 29, 'Okoye': 3, 'Daily Bugle': 3, 'Invaders': 93, 'Adam Warlock': 188, 'Thanos': 262, 'Callisto': 33, 'Scream (Donna Diego)': 9, 'Champions': 43, 'Dragon Man': 35, 'Nomad (Rikki Barnes)': 16, 'Ultron': 109, 'Logan': 30, 'Killmonger': 24, 'Mysterio': 80, 'Man-Wolf': 25, 'Omega the Unknown': 16, 'Shinobi Shaw': 5, 'Thor (Goddess of Thunder)': 55, 'Spider-Man (2099)': 58, 'Lockheed': 65, 'Fat Cobra': 16, 'Sasquatch (Walter Langkowski)': 88, 'Molecule Man': 9, 'Dust': 21, 'Gamora': 68, 'Night Thrasher': 38, 'Frog Thor': 20, 'Peter Quill': 7, 'Jimmy Woo': 14, "T'Challa": 8, 'Diamondback (Rachel Leighton)': 54, 'New X-Men': 44, 'Banshee': 177, 'Dani Moonstar': 61, 'Gideon': 22, 'Super-Skrull': 29, 'Howard The Duck': 108, 'Prowler': 23, 'Cosmo (dog)': 8, 'Cannonball': 287, 'Shatterstar': 120, 'Warpath': 194, 'Mystique': 182, 'Wolfsbane': 125, 'Stryfe': 47, 'Vulture (Adrian Toomes)': 93, 'Arcade': 29, 'Tombstone': 40, 'S.H.I.E.L.D.': 160, 'Firestar': 106, 'Magus (Adam Warlock)': 17, 'Masque': 34, 'Purple Man': 25, 'Phil Sheldon': 8, 'Gorilla Man': 18, 'Rhino': 71, 'Tyger Tiger': 6, 'Lockjaw': 78, 'Spiral (Rita Wayword)': 44, 'Morlun': 6, 'Otto Octavius': 3, 'Human Torch (Jim Hammond)': 53, 'Spider-Man (Ben Reilly)': 34, 'Lady Deathstrike': 91, 'Weapon X': 45, 'Elixir': 26, 'Surge': 22, 'William Stryker': 9, 'X-Man': 91, 'Husk': 39, 'Stacy X': 35, 'Captain Marvel (Monica Rambeau)': 36, 'Scarlet Spider (Ben Reilly)': 78, 'Blastaar': 36, 'Legion': 86, 'Alex Wilder': 9, "Jack O' Lantern": 9, 'Mesmero': 28, 'Jigsaw': 19, 'Microchip': 12, 'Azazel (Mutant)': 3, 'Morlocks': 9, 'Leader': 47, 'Bloodstorm': 23, 'Cassandra Nova': 9, 'Maelstrom': 4, 'Shocker (Herman Schultz)': 36, 'Scarlet Spider (Kaine)': 83, 'ClanDestine': 20, 'Deathbird': 36, 'Frank Castle': 24, 'Hydra': 141, 'New Warriors': 94, 'Nakia (Nakia)': 2, 'Thunderbolt Ross': 18, 'Charles Xavier': 83, 'Barracuda': 5, 'Madrox': 84, 'Celestials': 16, 'Dark Phoenix': 22, 'H.E.R.B.I.E.': 1, 'The Hand': 41, 'Spot': 16, 'Victor Von Doom': 39, 'Viper': 46, 'Crimson Dynamo': 40, 'Stranger': 7, 'Tippy Toe': 7, 'Nuke': 12, 'Feral': 6, 'Vindicator': 29, 'Spider-Man (1602)': 44, 'Medusa': 150, 'Shadow King': 22, 'Grandmaster': 11, 'Morph': 18, 'Thunderbird (John Proudstar)': 21, 'Romulus': 23, 'Wendigo': 21, 'Blindfold': 24, 'Karnak': 101, 'Nighthawk': 50, 'Bastion': 37, 'Clint Barton': 34, 'Brother Voodoo': 11, 'Talon (Fraternity of Raptors)': 1, 'She-Hulk (Ultimate)': 2, 'Patriot': 81, 'Beetle (Abner Jenkins)': 19, 'Nova (Frankie Raye)': 7, 'Chase Stein': 15, 'Gertrude Yorkes': 13, 'Karolina Dean ': 9, 'Molly Hayes': 17, 'Nico Minoru': 21, 'Old Lace': 13, 'Victor Mancha': 8, 'Talkback (Chase Stein)': 6, 'Xavin': 2, 'Illuminati': 16, 'Death': 29, 'Prodigy': 21, 'Crystal': 122, 'Tinkerer': 13, 'Chameleon': 39, 'Doop': 39, 'Wild Pack': 8, 'Strong Guy': 58, 'Foggy Nelson': 88, 'Mole Man': 65, 'Cecilia Reyes': 21, 'Maggott': 23, 'Marrow': 78, 'Onslaught': 40, 'Deathlok': 99, 'Thundra': 16, 'Toxin (Eddie Brock)': 55, 'Goliath (Bill Foster)': 28, 'Ink': 2, 'Emplate': 10, 'Generation X': 100, 'Madame Masque': 31, 'Sinister Six': 26, 'Ego': 16, 'Risque': 11, 'Secret Warriors': 42, 'Sister Grimm': 7, 'Justin Hammer': 8, 'Blackheart': 9, 'Karma': 52, 'Sunspot': 171, 'White Tiger (Angela Del Toro)': 50, 'Maximus': 28, 'Triton': 54, 'Satana': 34, 'Masters of Evil': 24, 'Phantom Reporter': 2, "Frankenstein's Monster": 26, 'A.I.M.': 49, 'Wrecker': 11, 'Purifiers': 12, 'Shadowcat': 14, 'Lethal Legion': 12, 'Slapstick': 30, 'Ricochet': 7, 'Scarecrow (Ebenezer Laughton)': 13, 'Henry Peter Gyrich': 14, 'Ultimate Spider-Man (USM)': 19, 'Dark Avengers': 79, 'Cyber': 21, 'Fin Fang Foom': 27, 'Iron Patriot': 6, 'Ben Reilly': 17, 'Jackal': 43, 'Pride': 10, 'Hammerhead': 30, 'Jack Power': 6, 'Katie Power': 11, 'X-Babies': 14, 'Warbound': 5, 'Madame Hydra': 16, 'Steve Rogers': 42, 'Darkstar': 24, 'Ulik': 41, 'James Howlett': 3, 'Patch': 1, 'Living Mummy': 8, 'Cottonmouth': 2, 'Mr. Fish': 1, 'Tempest': 16, 'Toro (Thomas Raymond)': 33, 'Hitman': 5, 'James Buchanan Barnes': 3, 'Xorn (Kuan-Yin Xorn)': 20, 'Count Nefaria': 30, 'Spider-Woman (Mattie Franklin)': 16, 'Mongoose': 2, 'Wrecking Crew': 15, 'Starfox': 32, "Shi'Ar": 13, 'Speed Demon': 7, 'Great Lakes Avengers': 12, 'Ronan': 54, 'Bob, Agent of Hydra': 7, 'Eternity': 20, 'Miss America': 50, 'Menace': 41, 'Ultimo': 7, 'Firebird': 35, 'Sons of the Tiger': 22, 'Pet Avengers': 13, 'Doctor Spectrum': 21, 'Solo (James Bourne)': 19, 'Daredevil (Ultimate)': 22, 'Green Goblin (Ultimate)': 2, 'Hammerhead (Ultimate)': 5, 'Moon Knight (Ultimate)': 8, 'The Howling Commandos': 4, 'Doctor Faustus': 9, 'Screwball': 9, 'Ancient One': 29, 'Swarm': 2, 'Debra Whitman': 1, 'Vulture (Blackie Drago)': 1, 'Pip': 18, 'Silvermane': 18, 'Black Tarantula': 23, 'Lady Bullseye': 33, 'Lila Cheney': 7, 'Nightshade': 3, 'Marvel Boy': 49, 'Gladiator (Melvin Potter)': 9, 'Hobgoblin (Roderick Kingsley)': 36, 'Big Bertha': 6, 'In-Betweener': 4, 'Mr. Immortal': 6, 'Phil Coulson (Phil Coulson)': 4, 'Doorman': 5, 'Flatman': 5, 'Venom (Mac Gargan)': 24, 'Warlock (Technarchy)': 25, 'Stingray (Walter Newell)': 25, 'Punisher (2099)': 6, 'Scrambler': 2, 'Radioactive Man': 24, 'Squadron Supreme (Earth-712)': 50, 'Tiger Shark': 24, 'Thunderball': 12, 'Dum Dum Dugan': 64, 'Jasper Sitwell': 19, 'Sugar Man': 4, 'Young X-Men': 18, 'Red She-Hulk': 40, 'Hyperion (Earth-712)': 31, 'The Watchers': 14, "Ant-Man (Eric O'Grady)": 42, 'Matthew Murdock': 28, 'Tomorrow Man': 11, 'Warbird': 30, 'Cerebro': 7, 'Layla Miller': 41, 'X-Factor Investigations': 14, 'Darwin': 10, 'Pixie': 39, 'Kid Colt': 13, 'Two-Gun Kid': 135, 'Butterfly': 8, 'Nemesis': 33, 'Puck': 54, 'Spider-Man (Ai Apaec)': 15, 'Pestilence': 10, 'Stick': 17, 'Dark Beast': 10, 'Sage': 31, 'Cardiac': 10, 'Grim Reaper': 33, 'Dreadnoughts': 5, 'Cammi': 4, 'Captain Universe': 24, 'Brotherhood of Evil Mutants': 30, 'Stilt-Man (Wibur Day)': 9, 'Big Wheel': 2, 'Firebrand': 7, 'Super-Adaptoid': 11, 'Aaron Stack': 14, 'Mach IV': 8, 'Genesis': 16, 'Slayback': 1, 'Sabra': 19, 'Blizzard': 13, 'Ezekiel Stane': 17, 'Whirlwind': 25, 'Robbie Robertson': 64, 'Guardian': 33, 'She-Hulk (Lyra)': 23, 'Snowbird': 46, 'Carlie Cooper': 69, 'Cuckoo': 1, 'Curt Conners': 18, 'Zaran': 22, 'Prince of Orphans': 11, 'Gateway': 29, 'Mauler': 5, 'A-Bomb (HAS)': 3, 'Living Lightning': 18, 'Silverclaw': 15, 'The Twelve': 13, 'Thaddeus Ross': 12, 'Ben Parker': 21, 'Quicksilver (Age of Apocalypse)': 4, 'Abomination (Ultimate)': 2, 'Mimic': 36, 'Weapon Omega': 7, 'Deena Pilgrim': 3, 'Ikaris': 4, 'Makkari': 8, 'Sersi': 38, 'Thena': 8, 'Zuras': 3, 'Master Chief': 6, 'Ultimatum': 17, 'Johnny Blaze': 4, 'Madame Web (Julia Carpenter)': 1, 'Blonde Phantom': 18, 'Karen Page': 31, 'Red Ghost': 11, 'Toad': 36, 'Gargoyle': 15, 'Gwen Stacy (Ultimate)': 27, 'Joseph': 36, 'Terrax': 22, 'Beyonder': 15, 'Hardball': 17, 'Thor Girl': 16, 'Randall Flagg': 1, 'Iron Fist (Bei Bang-Wen)': 7, 'Roland Deschain': 10, 'Doctor Doom (Ultimate)': 12, 'Loa': 6, 'Arachne': 6, 'Living Tribunal': 6, 'Shaman': 44, 'Frog-Man': 2, 'Umar': 16, 'Natasha Romanoff': 19, 'Mercury': 19, 'Magik (Amanda Sefton)': 2, 'Green Goblin (Harry Osborn)': 11, 'Magneto (Age of Apocalypse)': 9, 'Rogue (Age of Apocalypse)': 9, 'Sunfire (Age of Apocalypse)': 7, 'Wild Child (Age of Apocalypse)': 8, 'Magus (Technarch)': 4, 'Reavers': 15, 'Zzzax': 5, 'Firestar (Ultimate)': 5, 'Mystique (Ultimate)': 11, 'Bride of Nine Spiders (Immortal Weapons)': 10, 'Dog Brother #1': 9, "Tiger's Beautiful Daughter": 9, 'Unicorn': 7, 'Mr. X': 7, 'Vermin (Edward Whelan)': 15, 'Mentallo': 3, 'Psycho-Man': 11, 'Box': 7, 'Crule': 7, 'Ser Duncan': 1, 'X-Cutioner': 4, 'Zaladane': 10, 'Angel (Thomas Halloway)': 10, 'Christian Walker': 2, 'Retro Girl': 1, 'Komodo (Melati Kusuma)': 20, 'Moira MacTaggert': 21, 'Reaper': 17, 'Meteorite': 1, 'Jackpot': 7, 'Spitfire': 28, 'Ozymandias': 12, 'Deathcry': 8, 'Yellowjacket (Rita DeMara)': 9, 'Miek': 3, 'Redwing': 22, 'Spencer Smythe': 7, 'Black Cat (Ultimate)': 5, 'Nitro': 7, 'Hairball': 8, 'Swordsman (Jaques Duquesne)': 4, 'Diablo': 28, 'Captain Britain (Ultimate)': 3, 'Quasimodo': 9, 'Paper Doll': 3, 'Namorita': 61, 'Venus (Siren)': 8, 'Vin Gonzales': 4, 'Hypno-Hustler': 3, 'Lily Hollister': 9, 'Freak': 6, 'John Wraith': 5, 'Johnny Storm': 26, 'Ezekiel': 8, 'Bulldozer': 7, 'Piledriver': 5, 'War Machine (Ultimate)': 3, 'Bengal': 9, 'Constrictor': 34, 'Rage': 27, 'Black Panther (Ultimate)': 8, 'Valkyrie (Ultimate)': 8, 'Zarda': 3, 'Scorpion (Carmilla Black)': 9, 'Dark X-Men': 10, 'Stephen Strange': 10, 'Titanium Man (Topolov)': 27, 'Fenris': 6, 'Glenn Talbot': 7, 'Photon': 25, 'Alexander Pierce': 1, 'Mandrill': 1, 'Bug': 3, 'Hellions (Squad)': 7, 'Detective Soap': 3, 'Dexter Bennett': 3, 'The Initiative': 18, 'Trauma': 19, 'Ord': 12, 'Scourge': 8, 'Ultragirl (Earth-93060)': 1, 'Mary Jane Watson (House of M)': 2, 'Doctor Strange (Ultimate)': 11, 'Dormammu (Ultimate)': 3, 'Union Jack (Montgomery Falsworth)': 19, 'Spider-Woman (Charlotte Witter)': 11, 'Vanisher (Telford Porter)': 12, 'Omega Sentinel': 1, 'Chimera': 6, 'Shiver Man': 1, 'Iron Fist (Quan Yaozu)': 1, 'Lei Kung, The Thunderer': 6, 'Steel Serpent (Davos)': 16, 'Human Robot': 12, 'Blob (Ultimate)': 14, 'Brotherhood of Mutants (Ultimate)': 13, 'Union Jack (Brian Falsworth)': 4, 'Angel (Ultimate)': 19, 'Caretaker': 4, 'Manta': 8, 'Mentor': 1, 'Smasher (Vril Rokk)': 11, 'Starbolt': 5, 'M.O.D.O.G.': 2, 'Night Thrasher (Dwayne Taylor)': 14, 'Elite': 1, 'Ma Gnuci': 2, 'Molly Von Richtofen': 2, 'Liz Osborn': 12, 'Molten Man': 7, 'Proudstar': 5, 'Post': 10, '3-D Man': 12, 'Marvel Apes': 9, 'Magneto (House of M)': 10, 'True Believers': 5, 'Controller': 7, 'GW Bridge': 22, 'Lilith': 6, 'Spider-Man (Marvel Zombies)': 8, 'Iron Fist (Orson Randall)': 14, 'Master Mold': 8, 'Caliban': 69, 'Moira MacTaggert (Ultimate)': 2, 'Debrii': 9, 'MVP': 4, 'Ajak': 4, "Salem's Seven (Ultimate)": 4, 'Oracle': 16, 'Obadiah Stane': 4, 'Meltdown': 68, 'Jeryn Hogarth': 19, 'The Enforcers': 2, 'Alpha Flight (Ultimate)': 2, 'Franklin Storm': 6, 'Elloe Kaifi': 3, 'Hiroim': 4, 'Boomer': 62, 'Famine': 15, 'Forearm': 22, 'Ilyana Rasputin': 1, 'Apocalypse (Ultimate)': 3, 'Cable (Ultimate)': 2, 'Mister Sinister (Ultimate)': 3, 'Anthem': 11, 'Calamity': 11, 'Mulholland Black': 11, 'Supernaut': 11, 'The Order': 18, 'Veda': 11, 'Thanos (Ultimate)': 5, 'Leper Queen': 1, 'Wendell Rand': 6, 'Giant Girl': 2, 'Brute': 9, 'War Machine (Parnell Jacobs)': 1, 'Bedlam': 8, 'Garrison Kane': 19, 'Mister Fear': 4, 'Hulk (Marvel Zombies)': 8, 'Wind Dancer': 15, 'Blue Shield': 1, 'Janus, the Nega-Man': 1, 'Shang-Chi (Ultimate)': 7, 'Silhouette': 4, 'Marvex': 1, 'Fantastick Four': 1, 'Triathlon': 32, 'Lyja': 28, 'Sharon Ventura': 9, 'Armory': 1, 'The Liberteens': 1, 'Nocturne': 33, 'Kabuki': 11, 'Loners': 6, 'Turbo': 8, 'The Fury': 1, 'Chores MacGillicudy': 1, 'Confederates of the Curious': 1, 'Contessa (Vera Vidal)': 1, 'Lightning Lords of Nepal': 1, 'Lucky Pierre': 1, 'Nine-Fold Daughters of Xao': 1, 'Shadu the Shady': 1, 'Ultra-Adaptoid': 1, 'Omega Flight': 10, 'Agent X (Nijo)': 18, 'Bishop (Ultimate)': 1, 'Tarantula (Luis Alvarez)': 6, 'Maverick (Christoph Nord)': 4, 'Albion': 1, 'Jack Murdock': 8, 'Carnage (Ultimate)': 7, 'Hedge Knight': 1, 'Lionheart': 8, 'Pandemic': 2, "Ch'od": 39, 'Iron Fist (Wu Ao-Shi)': 2, 'Thunderbird (Neal Shaara)': 35, 'Nextwave': 13, 'Beak': 17, 'Humbug': 5, 'Earthquake': 7, 'Hussar': 7, 'Dreaming Celestial': 3, 'Felicia Hardy': 3, 'Dragon Lord': 3, 'Shiva': 6, 'Mysterio (Francis Klum)': 2, 'Stardust': 2, 'Wildside': 18, 'Captain Stacy': 10, 'Masked Marvel (Unrevealed)': 3, 'Maddog': 1, 'Julian Keller': 6, 'Tag': 10, 'Ravenous': 5, 'King Cobra': 3, 'Nomad (Steve Rogers)': 4, 'Santa Claus': 2, 'Korath': 5, 'Next Avengers': 1, 'Lorna Dane': 7, 'Sleeper': 6, 'Amphibian (Earth-712)': 4, 'Arcana': 2, 'Blur': 3, 'Inertia': 3, 'Shape': 4, 'Air-Walker (Gabriel Lan)': 4, 'Countess': 1, 'Captain America (House of M)': 3, 'Roughhouse': 7, 'Ancient One (Ultimate)': 2, 'Clea (Ultimate)': 2, 'Lizard (Ultimate)': 2, 'Reavers (Ultimate)': 2, 'Talos': 1, 'Tana Nile': 6, 'Hobgoblin (Robin Borne)': 3, 'Scorpion (Ultimate)': 1, 'Atlas (Team)': 8, 'Skreet': 5, 'Tenebrous': 2, 'Praxagora': 3, 'Preak': 3, 'Salo': 1, 'Lord Hawal': 1, 'Forgotten One': 2, 'Red Shift': 2, 'Devos': 4, "D'Ken Neramani": 2, 'Erik the Red': 5, 'Joystick': 5, "Baroness S'Bak": 1, 'Squadron Sinister': 9, 'Microbe': 6, 'Longshot (Ultimate)': 4, 'Toxin': 7, 'Elektra (Ultimate)': 11, 'Mystique (House of M)': 1, 'Wither': 10, 'Abyss': 8, 'Abyss (Age of Apocalypse)': 3, 'Proteus (Ultimate)': 5, 'Sabretooth (House of M)': 1, 'Forge (Ultimate)': 3, 'Vargas': 15, 'Blazing Skull': 3, 'Unus': 8, 'Deathstrike (Ultimate)': 1, 'Armadillo': 1, 'Texas Twister': 3, 'Professor X (Ultimate)': 16, 'Dinah Soar': 3, 'Centennial': 12, 'Puck (Zuzha Yu)': 12, 'Doomsday Man': 3, 'Wallflower': 10, 'Whiplash (Mark Scarlotti)': 11, 'Yellow Claw': 26, 'Shriek': 7, 'Mindworm': 1, 'Danny Rand': 1, 'Captain Marvel (Genis-Vell)': 62, 'Captain Marvel (Phyla-Vell)': 10, 'Arclight': 14, 'The Professor': 6, 'Blacklash': 5, 'Malcolm Colcord': 9, 'Phyla-Vell': 2, 'Virginia Dare': 7, 'Josiah X': 7, 'Junta': 7, 'Venus Dee Milo': 10, 'Maverick (Chris Bradley)': 4, 'Happy Hogan': 18, 'Rumiko Fujikawa': 8, 'Killer Shrike': 4, 'Mother Askani': 9, 'Leech': 4, 'Amora': 8, 'The Anarchist': 2, 'Vivisector': 16, 'Hellfire Club (Ultimate)': 2, 'Stacy X (Ultimate)': 2, 'Battering Ram': 2, 'Bloke': 3, 'La Nuit': 2, 'Orphan': 14, 'Plazm': 2, 'U-Go Girl': 14, 'Micromax': 2, 'Crusher Hogan': 3, 'Paibok': 4, 'Shotgun': 4, 'Sunset Bain': 9, 'Amiko': 12, 'Lifeguard': 4, 'Slipstream': 5, 'Wong (Ultimate)': 2, 'Lady Mastermind': 3, 'Blok': 6, 'Skrulls (Ultimate)': 1, 'Black Queen': 2, 'Supreme Intelligence': 13, 'Genis-Vell': 1, 'Skin': 10, 'Warstar': 4, 'Kulan Gath': 4, 'Shard': 27, 'Chronomancer': 3, 'Synch': 9, 'Rocket Racer': 1, 'Gargoyle (Yuri Topolov)': 1, 'Switch': 4, 'Tarot': 5, 'Carmella Unuscione': 11, 'King Bedlam': 2, 'Human Cannonball': 2, 'Deacon Frost': 1, 'Zombie (Simon Garth)': 1, 'Hannibal King': 2, 'Morgan Stark': 4, 'Magdalene': 6, 'Bloodscream': 5, 'M.O.D.A.M.': 5, 'Senator Kelly': 1, 'Ogun': 7, 'Slyde': 1, 'Hobgoblin (Jason Macendale)': 9, 'Ken Ellis': 6, 'Cargill': 1, 'Newton Destine': 1, 'Green Goblin (Barry Norman Osborn)': 12, 'Randall': 7, 'Force Works': 28, 'Wolfsbane (Age of Apocalypse)': 1, 'Hemingway': 1, 'Morg': 6, 'Vance Astro': 31, 'Jubilee (Age of Apocalypse)': 3, 'Shadow King (Age of Apocalypse)': 2, 'Mystique (Age of Apocalypse)': 2, 'Starhawk (Stakar Ogord)': 29, 'Callisto (Age of Apocalypse)': 1, 'The Renegades': 1, 'Phalanx': 3, 'Demogoblin': 5, 'American Eagle (Jason Strongbow)': 5, 'Talisman (Elizabeth Twoyoungmen)': 10, 'Cerise': 2, 'Revanche': 1, 'Tusk': 6, 'Fabian Cortez': 3, 'Black Widow/Natasha Romanoff (MAA)': 1, 'PsyNapse': 4, 'Shalla-bal': 10, 'Random': 1, 'Monster Badoon': 2, 'Bloodaxe': 5, 'Calypso': 6, 'War (Abraham Kieros)': 9, 'Lieutenant Marcus Stone': 1, 'Warhawk (Mitchell Tanner)': 6, 'Sumo': 4, 'Moon Knight (House of M)': 1, 'Dargo Ktor': 1, 'Stellaris': 2, 'Beef': 1, 'Jetstream': 1, 'Pretty Boy': 2, 'Black Crow': 1, 'Shooting Star': 1, 'Skullbuster (Cylla Markham)': 2, 'Warren Worthington III': 1, 'Sym': 2, 'Half-Life (Tony Masterson)': 1, 'Madripoor': 1, 'Shockwave': 5, 'Catseye': 1, 'Roulette': 1, 'Thunderbolt (Bill Carver)': 1, 'Elements of Doom': 1, 'Outlaw Kid': 3, 'Mandroid': 1, 'Zodiak': 1, 'Mordo': 1, 'Toad Men': 2, 'Cobalt Man': 3, 'Whizzer (Stanley Stewart)': 2, 'Millie the Model': 25, 'Lava-Man': 1, 'Blue Blade': 1}

In [61]:
cdcc_df.head()

      ID                            Title  Date           Creator    Character
0  17486  X-Men: Phoenix - Warsong (2006)  2029  Vc Joe Caramagna        Beast
1  17486  X-Men: Phoenix - Warsong (2006)  2029  Vc Joe Caramagna     Colossus
2  17486  X-Men: Phoenix - Warsong (2006)  2029  Vc Joe Caramagna      Cyclops
3  17486  X-Men: Phoenix - Warsong (2006)  2029  Vc Joe Caramagna   Emma Frost
4  17486  X-Men: Phoenix - Warsong (2006)  2029  Vc Joe Caramagna  Kitty Pryde

In [64]:
#See the numbers of appearances of Marvel Characters
char_counts = cdcc_df.groupby('Character')['ID'].count()
print(char_counts)
# import itertools
# char_sort = dict(sorted(char_counts.items(), key=lambda item: item[1], reverse = True))
# N = 500
# chars_500 = dict(itertools.islice(char_sort.items(), N))
# print(chars_500)

Character
3-D Man                        79
A-Bomb (HAS)                   16
A.I.M.                        247
Aaron Stack                    89
Abomination (Emil Blonsky)    360
                             ...
Zemo                           42
Zodiak                         10
Zombie (Simon Garth)           18
Zuras                          11
Zzzax                          27
Name: ID, Length: 1189, dtype: int64

In [73]:
#See number of unique creators for characters
char_creators = cdcc_df.groupby('Character')['Creator'].nunique()
char_creators.sort_values(ascending=False, inplace=True)
print(char_creators)

Character
Spider-Man                 1819
X-Men                      1618
Wolverine                  1579
Captain America            1504
Iron Man                   1487
                           ...
Morg                          2
Gargoyle (Yuri Topolov)       2
Hedge Knight                  2
Monster Badoon                2
Kabuki                        1
Name: Creator, Length: 1189, dtype: int64

In [75]:
#See the number of unique characters for creators
creator_chars = cdcc_df.groupby('Creator')['Character'].nunique()
creator_chars.sort_values(ascending=False, inplace = True)
print(creator_chars)

Creator
Richard Starkings               596
Vc Joe Caramagna                587
Jeff Youngquist                 547
Virtual Calligr                 524
Tom Brevoort                    434
                               ...
Bob Mackie                        1
Robert Sodaro                     1
David Riske                       1
David Navarrot                    1
including Klaus Janson pages      1
Name: Character, Length: 3827, dtype: int64

In [100]:
#DataFrame of Top 500 Marvel Chars with Characters as Index
char_500_df = pd.DataFrame.from_dict(chars_500, orient='index')
char_500_df.head(1400)

                    0
Spider-Man       3975
X-Men            3411
Iron Man         2583
Wolverine        2402
Captain America  2384
...               ...
Mandroid            1
Zodiak              1
Mordo               1
Lava-Man            1
Blue Blade          1

[1199 rows x 1 columns]

In [57]:
list_of_creates=[]
comic_creates = comics['Creators']
for indiv_create in comic_creates:
    create_list = eval(indiv_create)
    list_of_creates.append(create_list)
print(list_of_creates)

KeyError: 'Creators'

In [80]:
create_counts = {}
for i in list_of_creates:
    for j in i:
        create_key = j['name']
        if create_key in create_counts.keys():
            create_counts[create_key] = create_counts[create_key]+1
        else:
            create_counts[create_key] = 1
print(create_counts)

CARL POTTS JIM LEE': 1, 'Oscar Wilde': 6, 'Paco Roca': 5, 'Avalons Rob Ro': 1, 'Yuko Fukami': 2, 'Mick Gary': 3, 'Mick Gray': 7, 'Jean Simek': 92, 'Blank': 1, 'Charles Nicholas': 16, 'Greg Theakston': 2, 'Top Cow Michael Choi': 2, 'Top Cow Sonia Oback': 2, 'Jonathan Lethem': 9, 'Don Warfield': 144, 'Brian Overton': 1, 'Jim Clark': 4, 'Doug Alexander': 4, 'Mark Parsons': 1, 'HERMAN MELVILLE': 3, 'Ken Barr': 4, 'Seth Kruchkow': 1, 'Bob Burden': 1, 'Kelly Goodine': 1, 'JAMIE TOST': 2, 'Eduardo Risso': 3, 'Karl Rusnak': 6, 'KYLE SIMS': 1, 'Sal Regla': 5, 'Suzanne Gaffney': 61, 'Bruno Fernandez': 5, 'ROBERT RUFFOLO': 1, 'Chris Kipiniak': 1, 'GARY PANTER': 1, 'Mimi Gold': 2, 'Rick Mays': 8, 'J. D. Mettler': 7, 'James Fenimore Cooper': 4, 'Raymond E. Feist': 13, 'Alexandre Dumas': 5, 'Robert Louis Stevenson': 4, 'Nova Studio': 2, 'Roland Bernard Brown': 13, 'Miguel Montenegro': 12, 'JONATHAN LETHEM KARL RUSNAK': 1, 'Jim Reddington': 4, 'Lisa Patrick': 65, 'Julia Bacellar': 1, 'Adriano Batista': 5, 'AL SJOERDSMADAVID SE': 1, 'Lui Antonio': 3, 'Alex Wald': 4, 'Wayne Nichols': 2, 'Arnold Pander': 2, 'Joe Giella': 3, 'George Prez': 30, 'Douglas Noble': 1, 'Scott Altmann': 1, 'Kirsten Sinclair': 1, 'Stephen Molnar': 1, 'Andrew Farago': 1, 'Shaenon Garrity': 1, 'Team Bucce': 3, 'Avalon Ed Tadeo': 16, 'Chris Moeller': 2, 'Brian Buccellato': 7, 'Vitor Ishimura': 3, 'Carlos Alberto Fernandez Urbano': 2, 'Matt Cherniss': 6, 'Peter Johnson': 5, 'David Vonallman': 1, "Michael O'Connor": 15, 'Rick Hoberg': 12, 'David Sexton': 4, 'Clio Chiang': 2, 'Gina Going': 28, 'Marcos Pelayo': 5, 'Howard Purcell': 8, 'Chris Moreno': 3, 'Top Cow annette Kwon': 1, 'Arune Singh': 1, 'Jimmy James': 1, 'Raul Allen': 1, 'Timothy Liebe': 4, 'Tamora Pierce': 7, 'Natalie Portman': 2, 'Mike Thibodeaux': 6, 'Bill Crabtree': 23, 'Laurie Kronenberg': 1, 'Francisco Paronzini': 2, 'Annette Kwon': 1, 'Joe Prado': 1, 'John Holredge': 2, 'Ken Fedunieiwicz': 18, 'Steven J. Faulkner': 1, 'Ig Barros': 1, 'Brian Postman': 4, '#O': 4, 'Christophe Swal': 1, 'Monte Cook': 5, 'Caanan White': 5, 'Luis Lira': 3, 'Jimmie Robinson': 2, 'Anders Finer': 1, 'Robert Silverberg': 1, 'John Kaliz Colors': 2, 'Willie Schubert': 7, 'Aspen Mlt Inc.': 2, 'Roberto Campus': 3, 'Sean Scoffield': 7, 'Rick Berry': 7, 'Jimmy Bott': 1, 'Park Cooper': 1, 'Barb Liencooper': 1, 'Lance Laspina': 1, 'Michael Lent': 1, 'Sue Flaxman': 2, 'Steve Robertson': 5, 'Luna Brothers': 4, 'Transparency Digital': 97, 'Jean Van Hamme': 1, 'William Vance': 1, 'Shane Law': 8, 'Jason Levine': 19, 'Virtual Calligraphy': 14, 'Weir DeFilippis': 2, 'Virgin Comics, LLC': 1, 'Lynn Varley': 3, 'Drew': 3, 'Extreme Color': 12, 'Wildstorm FX': 27, 'Nathan Lumm': 9, 'Ashby Manson': 2, 'Park': 2, 'Rachelle Brissenden': 6, 'Shelly Leferman': 26, 'Richard Levins': 42, 'Jimmy Betancourt': 13, 'Prentiss Rollins': 2, 'Mark Powers': 154, 'Larry Stucker': 34, 'Liz Agraphiotis': 33, 'Martin Jimenez': 17, 'Jd Smith': 11, 'Electric Crayon': 12, 'LeAnn Clark': 3, 'Jessica Ruffner': 6, 'Rob Piotrowski': 3, 'Erica David': 4, 'Kitty Fross': 3, 'Guy Erez': 7, 'David Ari Leon': 7, 'Jonathan Glapion': 16, 'Oscar Gongora': 19, 'John Roshell Comicrafts Saida Temofonte': 2, 'Saida Temofonte': 70, 'Boris Vallejo': 2, 'Don Hillsman II': 4, 'Carla Conway': 1, 'Byron Penaranda': 3, 'Eric Wight': 2, 'Jean Moebius Giraud': 1, 'Ed Lee': 1, 'Lee Hammock': 1, 'Tsutomu Nihei': 7, 'Phil Hale': 1, 'Vince Russel': 2, 'Frank Dunkerley': 18, 'Francoise Mouly': 13, 'Irene Vartanoff': 20, '#X': 4, 'Polly Watson': 22, 'Gez Fry': 5, 'Seth Fisher': 6, 'Herb Cooper': 3, 'Annie Thornton': 2, 'Derek': 2, 'Richard Starkings Comicrafts Oscar Gongora': 2, 'Richard Starkings Comicrafts Jason Levine Richard Starkings': 2, 'Richard Starkings Comicrafts Wes Abbott Richard Starkings': 8, 'Signed P.r.': 6, 'Nanci Dakesian': 93, 'Kelly Lamy': 52, 'Nanci Quesada': 5, 'Tania Del Rio': 1, 'Pete Franco': 56, 'Jose Higon': 1, 'David Beck': 12, 'Brad Vancata': 95, 'Javi Montes': 7, 'Bill Black': 3, 'Matt Nelson': 3, 'Arsia Rozegar': 24, 'Toinay': 5, 'James Pascoe': 5, 'Alberto Dose': 2, 'Jason Miller': 1, 'Starkings w John Gaushell': 5, 'Michael Sutfin': 1, 'Federica Manfredi': 4, 'Samm Barnes': 13, 'Sara Barnes': 2, 'Sharpe': 6, 'David Stewart': 5, 'Shin Nagasawa': 7, 'Katsuya Terada': 6, 'Claudio Castellini': 12, 'Antonio Garcia': 2, 'Brandon Thomas': 8, 'Jim Royal': 6, 'Karl Zinsmeister': 3, 'Pia Guerra': 1, 'Maria-Emiko Macuaga': 1, 'Petar Bridges': 1, 'Ed Herron': 2, 'Lary Stucker': 14, 'Marvel Knights': 3, 'Mostafa Moussa': 4, 'Kanila Tripp': 3, 'Joe Hill': 1, 'Joshua Ortega': 1, 'Robert E. Barnes': 1, 'Ryan Church': 1, 'Warren Fu': 1, 'Alex Jaeger': 1, 'Sang Jun Lee': 1, 'Stephan Martini&#233;re': 1, 'Aaron McBride': 1, 'Michael Murnane': 1, 'Derek Thompson': 1, 'Erik Tiemens': 1, 'Feng Zhu': 1, 'Kolja Fuchs': 6, 'Charles Nicholas Wojtkoski': 5, 'Randy Gentile': 29, 'Aaron Sowd': 7, 'Robb McNabb': 4, 'Andrew Blase': 2, 'Chris Gossett': 5, 'Jamie Tolagson': 4, 'Sheldon Allen': 1, 'Nicola Scott': 2, 'Mark Ricketts': 5, 'Stacy Weiss': 8, 'Louise Ann Gikow': 1, 'Nick Bell': 6, 'David Self': 10, 'Marc Cerasini': 1, 'Tom Feister': 12, 'Wieslaw Walkuski': 2, 'Lee Barnett': 1, 'Ted Naifeh': 2, 'Allan Jacobsen': 2, 'Hans Rodionoff': 3, 'Anibal Rodriguez': 28, 'Nick Craine': 8, 'Bright Anvil Studios': 2, 'Omar Dogan': 6, 'Andrew J. Geraci': 5, 'Pat Quinn': 2, 'Bob Patterson': 2, 'D. Bruce Berry': 5, 'Tom Simmons': 17, 'Randall Green': 8, 'Tang Animation Coloring': 1, 'Dan Chariton': 2, 'Matt Webb': 19, 'Edde Wagner': 4, 'Colin Mitchell': 5, 'James Rochelle': 5, 'Han Allred': 4, 'Watson Jemas': 1, 'David Newbold': 9, 'Jay Bone': 8, 'R. Jones': 4, 'Brian Ashmore': 6, 'Robin D. Laws': 7, 'Joe Seung': 3, 'Robert Morales': 8, 'Teresa Focarile': 1, 'Troy Hickman': 1, 'Hank Chapman': 1, 'Jack DArcy': 1, 'Bill Jay': 1, 'George Kapitan': 2, 'Todd Demong': 1, 'Henry Flint': 2, 'John Wycough': 1, 'Victor Llamas': 4, 'Nancy Poletti': 3, 'Makoto Nakatsuka': 1, 'Patrick Blaine': 1, 'Robin Laws': 4, 'Oscar Carreno': 2, 'Avalon Andy Troy': 3, 'Gracine Tanaka': 4, 'Daniel Perez Sanchez': 4, 'Brian Azzarello': 8, 'Fiona Kelly': 2, 'Emiko Iwasaki': 1, 'Judith OBrien': 1, 'James Sturm': 1, 'Craig Thompson': 1, 'Brad Johnson': 1, 'Udon Comics Angelo Tsang': 3, 'MK - Avalon': 2, 'Jeff Jensen': 6, 'Arthur Ranson': 9, 'Carlos Meglia': 4, 'Andrew Lis': 20, 'Nova Ren Suma': 6, 'Lynne Yoshii': 3, 'Matt Madden': 7, 'HiFi Colour': 5, 'Jason Lethcoe': 3, 'Pat Prentice': 20, "Michael O'hare": 2, 'M. Ryan': 1, 'Trent Kaniuga': 7, 'Dave Kemp': 36, 'Chriscross and Chris Sotomayor': 2, 'Bronwyn Taggart': 12, 'Frank Teran': 2, 'Thomas Yeates': 6, 'Michael Gilbert': 1, 'Kevin Horn': 1, 'Angelo Tsang': 9, 'Joy Ang': 5, 'Andrew Hou': 5, 'Arnold Tsang': 6, 'Cecilia Calle': 6, 'Brian Walsh': 1, 'David Conway': 1, 'Danijel Zezelj': 9, 'Ray Kryssing': 17, 'Manuel Gutierrez': 7, 'Nick Derington': 1, 'Neil Googe': 1, "Len O'grady": 1, 'Nathan Eyring': 25, 'Kore Grate': 2, 'Nathan Kane': 1, 'Chris Ungar': 1, 'Studio Tron': 1, 'George Pratt': 6, 'Brian Horton': 5, 'Christina Z': 6, 'Tom Chus Color Dojo': 1, 'Marian Harris': 1, 'Robbie Morrison': 1, 'Scott Morse': 4, 'OlyOptics.Com': 2, 'Michael Stewart': 23, 'Avalon Brian Haberlin': 2, 'David Riske': 1, 'Rod Whigham': 3, 'Alberto Ponticelli': 6, 'Brett Matthews': 3, 'Vatche Mavlian': 2, 'Michael Zulli': 4, 'Richard Starkings RS Comicrafts Wes Abbott Richard Starkings': 1, 'Igor Kieryluk': 1, 'Sandra Duric': 1, 'Bernie Mireault': 1, 'Salgood Sam': 2, 'Matt Haley': 4, 'Juvaun Kirby': 3, 'Raymond Lee': 8, 'Deon Nuckols': 2, 'Scott Levy': 1, 'Howard M. Shum': 11, 'Alan Tam': 2, 'David Tischman': 8, 'Peter Ferguson': 1, 'Derek Hess': 3, 'Mariana Manco': 6, 'Robert Weinberg': 22, 'Brian Marshall': 1, 'Jen Van Meter': 1, 'Brian Hurtt': 1, 'Avalon Steve Oliff': 1, 'Matt Smith': 1, 'Frank Fosco': 4, 'Lee Moder': 1, 'Quique Alcatena': 1, 'Michael Collins': 9, 'Dan Raspler and Peter Tomasi': 2, 'Bobbie Chase': 120, 'Ted Pertzborn': 9, 'Bill Wray': 9, 'Bob Schreck and Jamie S. Rich': 2, 'Melvin Borillo Rubi': 3, 'Eduardo Alpuente': 5, 'James Pruett': 1, 'Vlm': 9, 'Jason Liebig': 102, 'Sharpefont': 3, 'Tyson McAdod': 2, 'Joseph Harris': 19, 'MK - Darick Robertson': 1, 'Sadia T': 1, 'Enigma': 1, 'Mark McNabb': 15, 'Jason Wright': 34, 'Drew Struzan': 8, 'Tanya': 1, 'Karl Waller': 1, 'Digital Broome': 6, 'Tyson Mcadoo': 1, 'Clifton Rathburn - Inactive': 3, 'Dusty Abell': 2, 'Larry Mahlstedt': 62, 'Agustin Mas': 6, 'Billy Patton': 2, 'Frank Strom': 1, 'John Tartag': 3, 'Tanya Horie': 4, 'Mark Lipka': 5, 'Joe Harris': 2, 'P.T. Sharpefront': 1, 'Lysa Kraiger': 5, 'Mas': 2, 'Pt': 1, 'George Lucas': 10, 'Scripter': 1, 'Mike Christian': 7, 'Micahel Stewart': 1, 'Rich Horie': 2, 'Optic Studios': 1, 'Mike Thomas': 59, 'Tw': 2, 'Drew Avalon Studio': 2, 'Laura Avalon Studio': 2, 'Yoshitaka Amano': 1, 'Duffy Vohland': 2, 'Vincent Evans': 15, 'Mark Heike': 3, 'Norton': 1, 'Denis Rodier': 5, 'W. Ramos': 1, 'David Brewer': 5, 'Roy Crane': 1, 'Tony Kelly': 10, 'Rob Jensen': 1, 'Shin-Ichi Hiromoto': 4, 'Shon Bury': 1, 'Chap Yaep': 7, 'Slick': 2, 'Ed Furness': 1, 'Dan Schaeffer': 1, 'Johnny Greene': 2, 'Mark Schultz': 2, 'Galen Showman': 2, 'Shelander': 3, 'Monica Kubina': 4, 'Martin Egeland': 3, 'Wong': 3, 'Soto': 3, 'Toshiki Kudo': 4, 'Jean Segarra-Rosa': 1, 'Raske': 1, 'Max Frezzato': 1, 'Atomic Paintbrush': 9, 'Frank Pittarese': 11, 'Rocky': 1, 'Emerson Miranda': 35, 'Rich Faber': 3, 'Sr.': 1, 'John Morasigan': 1, 'Ray McCarthy': 3, 'Siobhan Hanna': 2, 'Jaye Gardner': 15, 'John Kuramoto': 1, 'Marianna Manco': 6, 'Timothy Tuohy': 8, 'Charles Wallace': 4, 'Glenn Herrling': 1, 'Julio Soto': 3, 'Rob Leigh': 1, 'Trevor Scott': 4, 'Kiff Scholl': 6, 'Dan Hosek': 3, 'Tim S': 1, 'Jonathan Barron': 1, 'Pier Britto': 4, 'Alexander Morrissey': 7, 'Phyllis Novin': 1, 'Marcelo Frusin': 1, 'Sam DeLaRosa': 21, 'Tinsley Scott': 2, 'Darryl Banks': 1, 'Tom Virkaitis': 1, 'Mark Prudeaux': 1, 'Will Blyberg': 2, 'Jessica Hindzierski': 1, 'Steve Matisson': 24, 'Homage Studios': 3, 'Pino Rinaldi': 6, 'Jessica Kindzierski': 1, 'Greg Hanna': 1, 'Rocca': 1, 'Anthony Daniels': 1, 'Ryder Windham': 1, 'Michelle Upchurch': 3, 'GCW': 3, 'Mario Capaldi': 1, 'Steve Mattsson': 14, 'Rob Stotz': 1, 'Kf': 2, 'Williams': 1, 'Allen Im': 1, 'John Marasigan': 2, 'American Color computer color': 6, 'Ul Higgins': 15, 'Carlos Mota': 2, 'G. L. Lawrence': 2, 'Tom Wegrzyn': 12, 'David Perrin': 4, 'Joe Rosas and Dickey': 1, 'Sue Crespi': 20, 'Jeff Rebner': 1, 'Dan Nakrosis': 2, 'Cedric Nocon': 3, 'Andy Mangels': 1, 'Jason Moore': 1, 'But Not on an actual published Comic': 1, 'Sam Liu': 1, 'Pamela Eklund': 11, 'Rene Micheletti': 3, 'Rachel Pinnock': 3, 'Benny Powell': 2, 'Nghia Lam': 2, 'David Quinn': 21, 'Chia-Chi Wang': 12, 'Christopher Moeller': 2, 'Malibu': 21, 'Kev F Sutherland': 10, 'Derek Bellman': 4, 'Adam Wallenta': 3, 'Dave Cooper': 1, 'J. Bligh': 1, 'Frank Toscano': 2, 'Alex Jubran': 4, 'Rey Garcia': 30, 'Arno': 2, 'Nick Gnazzo': 2, 'John Statema': 2, 'Megan Mcdowell': 13, 'Rober Quijano': 2, 'Luciano Lima': 2, 'Arne Starr': 2, 'Hector Oliveira': 5, 'Caroline Wells': 1, 'Anita Sharpe': 1, 'Val Semekis': 1, 'James Daly': 1, 'Adam Santangelo': 1, 'Daerick Gross': 3, 'Joel Thomas': 1, 'Pete Sellers': 1, 'Chris Defelippo': 1, 'Malibu Hues': 1, 'Jonathan Peterson': 1, 'Vince Giarrano': 2, 'Gabriel Morrissette': 1, 'Omaha': 1, 'W Reinholds': 1, 'Marcos Tetelli': 1, 'Sam Parsons': 1, 'Martin Chaplin': 1, 'Phil Hugh Felix': 28, 'Sophie Heath': 6, 'Ashley Posella': 21, 'Tom Roiston': 5, 'Njq': 8, 'Bob Harris': 2, 'Kenny Lopez': 37, 'Richard Hoover': 1, 'Mike Witherby': 3, 'David Sharpe': 1, 'Electric Prism': 9, 'Ray Murtaugh': 9, 'Elman Brown': 1, 'Derek Robertson': 1, 'Sergio Melia': 1, 'Richard StarkinUs': 1, 'Colin Jergensen': 3, 'Ron Boyd': 2, 'Fred Harper': 46, 'Lynaire Brust': 24, 'N.j.q.': 1, 'Bambos Georgiou': 4, 'Diane Buscema': 5, 'Dave Steele': 1, 'Warren Martinez': 1, 'Jeff Lafferty': 1, 'Stephen Whitaker': 4, 'Daniel Kurt Thorsland': 6, 'Madonna Limcaco': 4, 'Brian Williamson': 1, 'Michael Worley': 1, 'Steven Whitaker': 2, 'Dave Chlystek': 1, 'Lee Sullivan': 2, 'WALLACE WOOD': 1, 'Greg Cox': 1, 'Jimmy Chung': 1, 'Lawrence Brown': 3, 'Mike Kraiger': 1, 'Vick Wiliams': 1, 'KylLs': 2, 'Spencer Lamm': 1, 'Stephen Vrattos': 1, 'Tom Tenney': 6, 'Mike Barreiro': 2, 'Helen Caldicott': 1, 'Linda Gilmore': 1, 'Eva Grindberg': 3, 'Guy Dorian': 2, 'Jeff Moore': 4, 'Beck Freeman': 1, 'Greg Fox': 1, 'Richard Rankin': 4, 'David Devries': 5, 'John Ross': 1, 'Ed Murr': 3, 'Many Hands': 4, 'Barry Crain': 5, 'Robert Walker': 5, 'Joe Agostinelli': 3, 'Johnsons': 2, 'Rich Rankin': 1, 'Monica Bennett': 1, 'Beckett': 1, 'Mark Tenney': 2, 'Rod Ollerenshaw': 1, 'John Hixson': 1, 'Maria Beccari': 3, 'Matt Maley': 1, 'Lia Pelosi': 2, 'Scott Marshall': 3, 'Chris Malthys': 6, 'Lou Harrison': 1, 'Paula Foye': 1, 'Harry Candilance': 1, 'Pat Garrahy': 9, 'Floyd Hughes': 1, 'Bill Marimon': 1, 'Sue McTergue': 1, 'Dario Carrasco Jr.': 6, 'Gary Hallgren painting': 4, 'Mark Shultz': 1, 'Brandon McKinney': 1, 'David Cullen': 1, 'Ericka Moran': 9, 'Troy Sayers': 5, 'Barb Kaalberg': 1, 'Dave Sampson': 9, 'Brian Kong': 1, 'Fernando Mendez': 42, 'Malcolm Jones III': 5, 'Frank Lovece': 1, 'Jerry Novick': 1, 'Kevin Yates': 2, 'Kelley Jones': 10, 'Pat Redding': 7, 'Woodrow Phoenix': 2, 'Frank Percy': 3, 'Clarke Hawbaker': 2, 'John Gaushell': 3, 'Avon': 1, 'Charles Barnett': 5, 'Derek Yaniger': 3, 'Mark Stegbauer': 3, 'Martin Thomas': 1, 'John Heebink': 8, 'Steve Biasi': 1, 'Mike Kenny': 1, 'P Pedi': 1, 'Ernie Stiner': 7, 'Ralph Reese': 3, 'Heidi Goodhue': 6, 'Su Mcteigue': 3, 'Patrick Archibald': 2, 'Hoang Nguyen': 2, 'Sheri Van Valkenburgh': 5, 'Bob Downs': 6, 'Jeffrey Lee Simons': 1, 'Tim Tuohy': 10, 'Bob Petrecca': 8, 'Andrew Paquette': 1, 'Spike': 2, 'Buzz': 1, 'Pam Eklund': 1, 'Wendy Pini': 1, 'Michael Eury': 1, 'Mark Moretti': 1, 'Maria Parwulski': 1, 'Ron Fortier': 1, 'B Buzz': 1, 'Pete Mcdonnell': 1, 'John Cebollero': 2, 'John Lewandowski': 10, 'Dan Cuddy': 7, 'Sven Larsen': 1, 'Stein': 2, 'Phil Heisler': 1, 'Kathryn Bolinger': 2, 'Sonja Ratcliffe': 1, 'Rob Panella': 1, 'David Ammerman': 1, 'Al Bigley': 1, 'John Dennis': 1, 'Davide Sharpe': 1, 'Pam Ecklund': 1, 'Cooper Smith': 1, 'Chuck Wojtkiewicz': 1, 'Marcus David': 1, 'Mark Runyan': 2, 'Rita Fagiani': 2, 'Todd Fox': 6, 'Steve Karp': 4, 'Phil Gascoine': 1, 'Eufrenio Cruz': 1, 'Mike Whitherby': 1, 'George Wildman': 2, 'Bruce Solotoff': 1, 'Jade Moede': 39, 'Rob Liefeld, Fabian Nicieza': 3, 'Thomas Blackshear': 1, 'Santiago Oliveras': 2, 'P.j. Mungiole': 2, 'Chris Tsuda': 1, 'Ken Steacey': 1, 'Norm Dwyer': 1, 'Jack Torrance': 1, 'Dan Mishkin': 1, 'Jim Massara': 2, 'Cameron': 1, 'Mark Chiodo painted': 1, 'Daniel Vozzo': 1, 'Ozon': 1, 'Suzanne DellOrto': 2, 'Gary Fields': 3, 'Alex Trimpe': 1, 'SG': 2, 'Judy Bogdanove': 1, 'Tim Harkins': 31, 'J. Adam Walters': 1, 'Yug': 1, 'Task Force Z': 1, 'Hugh Jasse': 2, 'Mickey Ritter': 6, 'Richard Rasche': 4, 'Jack Slamn': 1, 'Carrie Barre': 1, 'Tom Fine': 1, 'Dean Schreck': 1, 'Brent Cardillo': 1, 'Alfred Ramirez': 3, 'Bob Mackie': 1, 'L.P. Gregory': 4, 'Richard Ory': 3, 'Dave Simpson': 1, 'Vince Mielcarek': 1, "Suzanne Del'orto": 1, 'Bernie Jaye': 5, 'Marc Siry': 5, 'Tex Blaisdell': 3, 'D. Day': 1, 'Tom Artis': 2, 'Santiago Tapia': 1, 'Beatty': 1, 'Dave Gibson': 1, 'Wright and Tom Vincent': 1, 'David Hornung': 1, 'Petra Scrotese': 1, 'Sanders': 1, 'Kim De Mulder': 1, 'Willian Reinhold': 1, 'Judith Hunt': 1, 'Eric Lee': 1, 'Mark Borax': 1, 'Annette Kawecki': 28, 'Elaine Heisler': 1, 'Michael Yee': 1, 'Ed Norton': 1, 'Louis Williams': 6, 'Cindy Martin': 2, 'Mike Saenz': 1, 'Joe Albelo': 11, 'Michelle Wrightson': 14, 'Chuck Patton': 1, 'Bob Scheele': 1, 'Mark Wheatley': 1, 'Bob Pinaha': 1, 'Aleret Carlson': 1, 'Susan K. Putney': 1, 'Marc Hempel': 1, 'Will Jungkuntz': 1, 'David Sim': 1, 'Fred Schiller': 1, 'Bob DeNatale': 5, 'Muns': 1, 'Joe Morelli': 2, 'Mundelo': 1, 'A. Kaotic': 1, 'VCY': 1, 'Squid': 1, 'Talaoc': 5, 'Arthur Byron': 2, 'Steacy': 1, 'Al Milgrom and Ann Nocenti': 1, 'Mel Candido': 1, 'Stone': 2, 'Kevin Dzuban': 4, 'Wilsons': 1, 'Diverse Hands': 3, 'Ron Zalme': 3, 'Beth Firmin': 1, 'Photo cover': 1, 'Photo cover June McDonald as Dazzler': 1, 'Rob Carosella': 16, 'Harry Blumfield': 3, 'Pierre Bernard': 1, 'Pages All except esposito Uncredited': 1, 'John Pound painting': 5, 'Lynn Graeme': 8, 'Bob Sharen perhaps actually Carl Gafford': 1, 'Carl Gafford issue mistakenly credits Bob Sharen': 1, 'Ned Sonntag': 4, 'Dave Simms': 1, 'Peter Kirch': 2, 'Larry Fredericks': 1, 'as Norman Mallard': 1, 'as Sir James Mallardy': 1, 'Peter Ledger': 1, 'Rick Marshall': 1, 'Paul Kupperberg': 1, 'Carmine Imperato': 1, 'Michele Wolfman': 52, 'Roy Thomas. consultingJim Shooter': 10, 'Mario Sen': 1, 'Stephen Bissette': 1, 'Don Thompson': 4, 'Richard E. Marschall': 3, 'Irving Wantanabe': 1, 'Maggie Thompson': 3, 'including Klaus Janson pages': 1, 'Eliot S. Maggin': 3, 'Nellie Y.': 1, 'Frank Bolle': 4, 'Mary Beveridge': 3, 'Parko': 1, 'Rudy Mesina': 4, 'See Notes': 1, 'Joe Genovese': 3, 'B.K.': 1, 'Janet Elizabeth Aulisio': 2, 'Arthur Curtis': 1, 'Mary Titus': 2, 'N. Y. tribe': 1, 'Peter Iro': 4, 'The Tribe': 1, 'Pete Lijauco': 1, 'Owen McCarron': 2, 'Carl Burgos Bill Everett': 1, 'Karin Doughrty': 1, 'Dino Castrillo': 8, 'Ken Klaczak': 2, 'Ellen Vartanoff': 3, 'Sam Kato': 1, 'Panel And Page': 1, 'Ron Validar': 1, 'Alex Nino': 2, 'Frank Thomas': 3, 'none listed': 1, 'Jess Jodloman': 2, 'Beth Bleckley computer type': 1, 'John Frost': 1, 'Karen Mantlo': 14, 'Panels Likenesses': 1, 'Hugh Paley': 4, 'Frank Thorne': 7, 'Al Wenzel': 7, 'Jean Hipp': 3, 'Paula Goldberg': 1, 'Debra James': 1, 'Sanho Kim': 1, 'Al Kurzrok': 7, 'Odgen Whitney': 15, 'Ray Holloway Sherigail': 11, 'Fuller': 1, 'Edward S. Barkan': 1, 'San Jose': 1, 'Bottom Of': 1, 'Top Of and face in Panel': 1, 'Cathi Ann Thomas': 1, 'Nick Cardy': 2, 'Charlotte Jetter': 14, 'Al Mcwilliams': 3, 'Barry W Smith': 1, 'Bedlam in the Balkans': 1, 'June Braverman': 4, 'Aubrey Bradford': 1, 'Ripoll G': 1, 'Mike Lombo': 1, 'Ralph Alphonso': 1, 'Carl Wessler': 1, 'Title': 1, 'Ed Winiarski': 5, 'Crusty Bunkers': 3, 'Jan Brunner': 1, 'Carl Hubbell': 4, 'Ron Whyte': 3, 'Stan Lee original story.': 1, 'Jean Izzo': 10, 'Steve Desmond': 2, 'William Graham Jr.': 5, 'Script Pages': 2, 'Matt Baker': 1, 'Paul Hodge': 1, 'Terry Szenics': 1, 'Jerry Feldman': 3, 'Pete Morisi': 7, 'Angelo Torres': 4, 'Marvin Stein': 2, 'Irv Wesley': 1, 'Joe Certa': 1, 'Charles F. Miller': 21, 'Mike Stevens': 1, 'Vic Carrabotta': 4, 'Joe Gaudioso': 5, 'Jack Keller': 12, 'Bill Roman': 1, 'Mike Esposito as Mickey Demeo': 1, 'Carl Hubell': 1, 'Terry Szenicks': 1, 'John Duffy': 1, 'Doug Wildey': 9, 'Alfonso Greene': 2, 'Richard Doxsee': 2, 'George Woodbridge': 1, 'Manny Stallman': 3, 'Mac Pakula': 4, 'Howard ODonnell': 1, 'Bernard Baily': 5, 'John Giunta': 2, 'Dave Berg': 4, 'Herb Familton': 1, 'Hy Fleishman': 1, 'Harry Lazarus': 3, 'Sid Check': 1, 'Bill Walton': 1, 'Al Feldstein': 1, 'Ted Galindo': 1, 'Lou Morales': 1, 'Lazarus': 1, 'Walton': 1, 'Lou Cameron': 1, 'Bob McCarty': 1, 'Kurt Schaffenberger': 2, 'Mort Drucker': 1, 'Pete Tumlinson': 3, 'Manny Stallmansp': 1, 'Mannie Banks': 1, 'Cal Massey': 3, 'Al Carreno': 2, 'Myron Fass': 2, 'Bill Molno': 1, 'Bob Fujitani': 2, 'Ed Win': 1, 'Dan De Carlo': 6, 'Sy Grudko': 1, 'Henkel': 1, 'Dan Loprino': 1, 'Chu Hing': 2, 'Dan Decarlo': 1, 'Unknown': 3, 'Mike Becker': 2, 'Steve Douglas': 1, 'Bill Finger': 5, 'Vic Dowd': 2, 'Harvey Kurtzman': 1, 'Gustav Schrotter': 2, 'Frank Borth': 3, 'Lou Paige': 2, 'Vince Fago': 33, 'Jack Alderman': 5, 'John Thompson': 1, 'Zac Gabel': 1, 'Carl Pfeuffer': 7, 'Ray Cummings': 2, 'Guy Blythe': 5, 'Ed Ashe': 4, 'Mort Leav': 2, 'Bob Montana': 1, 'Clyde Yeadon': 1, 'Roy Garn': 1, 'Mortimer Breen': 1, 'Red Holmdale': 2, 'Melville Henry': 1, 'Mort Meskin': 1, 'Harold DeLay': 1, "Jack D'ARCY": 1, 'William Allison': 1, 'H. Ramsey': 1}

In [91]:
#Find top 500 Creators
creator_sort = dict(sorted(create_counts.items(), key=lambda item: item[1], reverse = True))
N = 500
creators_500 = dict(itertools.islice(creator_sort.items(), N))
print(creators_500)

{'Vc Joe Caramagna': 3309, 'Jeff Youngquist': 2977, 'Tom Brevoort': 1876, 'Richard Starkings': 1812, 'Brian Michael Bendis': 1660, 'Stan Lee': 1657, 'Vc Clayton Cowles': 1574, 'Virtual Calligr': 1541, 'Cory Petit': 1235, 'Vc Cory Petit': 1212, 'Nick Lowe': 1205, 'Jordan White': 1186, 'Chris Claremont': 1131, 'Glynis Oliver': 1118, 'Joe Rosen': 1108, 'Peter David': 1048, 'Dave Sharpe': 1039, 'Jack Kirby': 983, 'Bob Sharen': 967, 'Mark Paniccia': 959, 'Roy Thomas': 951, 'Jason Aaron': 859, 'Tom Defalco': 856, 'Sal Buscema': 842, 'Vc Joe Sabino': 840, 'Vc Travis Lanham': 833, 'Mark Bagley': 773, 'Art Simek': 760, 'Al Milgrom': 756, 'Dan Slott': 753, 'Chris Eliopoulos': 745, 'John Romita Jr.': 742, 'Jonathan Hickman': 731, "Frank D'ARMATA": 723, 'John Costanza': 718, 'Mark Waid': 664, 'Wilson Moss': 662, 'Tom Orzechowski': 656, 'Emily Newcomen': 649, 'Salvador Larroca': 633, 'John Byrne': 623, 'Tom Palmer': 616, 'George Roussos': 598, 'Ralph Macchio': 595, 'Greg Pak': 586, 'Jim Novak': 586, 'Christopher Sotomayor': 578, 'Rachelle Rosenberg': 576, 'Christie Scheele': 565, 'Fabian Nicieza': 563, 'Gerry Duggan': 561, 'Scott Hanna': 554, 'Janice Chiang': 546, 'Edward Devin Lewis': 541, 'Matt Fraction': 541, 'Joe Sinnott': 541, 'Paul Mounts': 540, 'Rick Parker': 537, 'John Buscema': 536, 'Edgar Delgado': 533, 'Bill Mantlo': 513, 'Al Ewing': 504, 'Gene Colan': 500, 'Mike Deodato': 493, 'Mark Gruenwald': 487, 'Sam Rosen': 479, 'Greg Land': 477, 'Cullen Bunn': 472, 'Justin Ponsor': 471, 'Gerry Conway': 470, 'Roger Stern': 467, 'Kieron Gillen': 464, 'Nick Spencer': 460, 'Charles Soule': 457, 'Leinil Francis Yu': 454, 'Marte Gracia': 454, 'Gil Kane': 450, 'Klaus Janson': 450, 'Humberto Ramos': 444, 'Matt Milla': 444, 'Ed Brubaker': 443, 'Christos Gage': 438, 'Stephen Wacker': 437, 'Alan Davis': 435, 'Alex Ross': 433, 'Andy Lanning': 428, 'Vc Randy Gentile': 427, 'Dean White': 422, 'Jacob Thomas': 419, 'Skottie Young': 418, 'Matthew Wilson': 417, 'Chris Bachalo': 416, 'Joe Quesada': 415, 'Fred Van Lente': 413, 'Dave Lanphear': 402, 'Various': 400, 'Marko Djurdjevic': 397, 'Jason Keith': 394, 'Steve Englehart': 392, 'Adam Kubert': 387, 'Mark Basso': 386, 'Rick Remender': 386, 'Ron Lim': 385, 'Dick Ayers': 384, 'Richard Isanove': 383, 'Ed Mcguinness': 383, 'Stuart Immonen': 380, 'Danny Miki': 377, 'Laura Martin': 373, 'Mike Esposito': 373, 'Axel Alonso': 371, 'David Michelinie': 371, 'Ron Frenz': 363, 'Christopher Yost': 362, 'Mark Millar': 361, 'Dan Abnett': 359, 'Gregory Wright': 359, 'Comicraft': 359, 'Daniel Way': 357, 'Darren Shan': 357, 'Giuseppe Camuncoli': 354, 'Michael Heisler': 354, 'Vince Colletta': 354, 'Frank Martin': 353, 'Frank Giacoia': 351, 'Doug Moench': 344, 'Bob Harras': 341, 'Bill Oakley': 339, 'Rain Beredo': 338, 'Jeff Parker': 336, 'Steve Ditko': 336, 'Jim Mooney': 335, 'Ryan Stegman': 331, 'Jeph Loeb': 330, 'Diana Albers': 327, 'Scott Koblish': 325, 'Howard Mackie': 322, 'Daniel Ketchum': 321, 'Scott Lobdell': 321, 'Herb Trimpe': 319, 'Paco Medina': 317, 'Don Heck': 316, 'Marv Wolfman': 315, 'Dennis "Hopeless" Hallum': 313, 'Mark Farmer': 313, 'Mark Morales': 312, 'Guru Efx': 312, 'Archie Goodwin': 311, 'Mark Brooks': 309, 'Mike Del Mundo': 309, 'Terry Dodson': 308, 'Arthur Adams': 308, 'Steve Epting': 307, 'David Curiel': 307, 'Morry Hollowell': 306, 'Matt Hollingsworth': 299, 'Warren Ellis': 295, 'Brian Reber': 294, 'Rus Wooton': 292, 'Ron Garney': 291, 'Len Wein': 289, 'Jim Starlin': 285, 'Jesus Aburtov': 285, 'Butch Guice': 284, 'Steve Mcniven': 283, 'Chris Sotomayor': 281, 'Esad Ribic': 279, 'Steve Buccellato': 276, 'Daniel Acuna': 275, 'Bill Sienkiewicz': 274, 'Dan Green': 272, 'Kurt Busiek': 271, 'Larry Lieber': 271, 'Bob Wiacek': 270, 'Olivier Coipel': 269, 'Donny Cates': 268, 'Steve Gerber': 268, 'Al Williamson': 267, 'Leonard Kirk': 266, 'Jim Cheung': 266, 'Jay Leisten': 266, 'Joe Rosas': 264, 'Kris Anka': 263, 'Stefano Caselli': 257, 'Ron Wilson': 257, 'Petra Goldberg': 256, 'Jack Morelli': 256, 'Carlos Pacheco': 253, 'Zeb Wells': 252, 'Jordie Bellaire': 251, 'Tim Townsend': 250, 'Todd Klein': 249, 'Javier Rodriguez': 248, 'Dave Johnson': 248, 'Antonio Fabela': 245, 'Mahmud Asrar': 244, 'Michael Higgins': 243, 'Joe Bennett': 242, 'Victor Olazaba': 242, 'Terry Kevin Austin': 242, 'John Romita Sr.': 238, 'Mike Carey': 237, 'Kelly Thompson': 236, 'Patch Zircher': 234, 'Luke Ross': 233, 'Bob Layton': 233, 'Rich Buckler': 232, 'George Tuska': 232, 'Bryan Hitch': 231, 'Marco Checchetto': 230, 'Sara Pichelli': 230, 'Nick Bradshaw': 230, 'Ed Brisson': 230, 'Mike Perkins': 228, 'Frank Tieri': 228, 'Guru-eFX': 227, 'Dan Brown': 224, 'Adi Granov': 223, 'Don Perlin': 223, 'Gaspar Saladino': 223, 'Declan Shalvey': 222, 'Tom Smith': 222, 'George Perez': 215, 'Danilo Bulanadi': 215, 'Ann Nocenti': 215, 'Val Staples': 214, 'Irving Watanabe': 214, 'Paul Jenkins': 212, 'Steve Dutro': 212, 'Larry Hama': 210, 'Louise Simonson': 209, 'Simone Bianchi': 208, 'David Lopez': 208, 'Alex Maleev': 207, 'Marc Guggenheim': 207, 'Philip J. Noto': 206, 'Andres Mossa': 206, 'Tom Grummett': 205, 'Keith Pollard': 205, 'Andy Kubert': 204, 'Valerio Schiti': 203, 'Lee Loughridge': 203, 'Kev Walker': 202, 'David Marquez': 202, 'David Finch': 201, 'Juan Vlasco': 200, 'Pepe Larraz': 200, 'Kaare Andrews': 199, 'Nate Piekos': 199, 'Chip Zdarsky': 199, 'Robbie Thompson': 198, 'Matthew Rosenberg': 198, 'Jim Zub': 198, 'Tom Raney': 197, 'Jorge Molina': 197, 'Ariel Olivetti': 196, 'Chris Samnee': 196, 'Jeanine Schaefer': 196, 'Jae Lee': 195, 'John Rhett Thomas': 194, 'Dave Cockrum': 193, 'John Tyler Christopher': 193, 'Marie Severin': 193, 'Mike Marts': 193, 'Wil Quintana': 193, 'Marie Javins': 192, 'Tom Brennan': 192, 'Pasqual Ferry': 191, 'Todd Nauck': 191, 'Clayton Crain': 190, 'Bill Rosemann': 190, 'Jimmy Palmiotti': 189, 'Bob Mcleod': 189, 'R.B. Silva': 188, 'Brandon Peterson': 188, 'Paul Ryan': 188, 'J. M. DeMatteis': 188, 'James Robinson': 187, 'John Cassaday': 187, 'Paul Tobin': 186, 'Nel Yomtov': 184, 'Paolo Rivera': 183, 'Paul Neary': 183, 'Michael Mckone': 182, 'Steve Dillon': 181, 'Joe Kelly': 180, 'Bill Everett': 180, 'Terry Kavanagh': 179, 'Marc Sumerak': 177, "Gabriele Dell'otto": 177, 'Nolan Woodard': 176, 'Dave Stewart': 174, 'David Baldeon': 174, 'Peter Milligan': 174, 'Lauren Sankovitch': 173, 'David Nakayama': 173, 'Garth Ennis': 172, 'Sarah Brunstad': 172, 'Christina Strain': 171, 'Rob Liefeld': 171, 'Erick Arciniega': 171, 'Federico Blee': 171, 'Sana Amanat': 170, 'Dave Mccaig': 170, 'John Kalisz': 170, 'Art Thibert': 168, 'Billy Tan': 168, 'G Gurihiru': 168, 'Phil Noto': 167, 'Mike Avon Oeming': 167, 'Cam Smith': 166, 'Liquid! Color': 165, 'Salva Espin': 165, 'Jose Villarrubia': 164, 'Karl Kesel': 164, 'Dustin Weaver': 164, 'Marcos Martin': 163, 'Joe Rubinstein': 163, 'Paul Becton': 163, 'Albert Deschesne': 162, 'Vero Gandini': 162, 'Danny Fingeroth': 162, 'Jim Shooter': 162, 'Andy Troy': 161, 'Carlo Barberi': 161, 'Terry Pallot': 161, 'Mike Rockwitz': 161, 'Howard Chaykin': 160, 'David Yardin': 160, 'Wade Von Grawbadger': 159, 'Michael Ryan': 158, 'Julian Totino Tedesco': 158, 'Carlo Pagulayan': 158, 'Joe Casey': 158, 'Paul Pelletier': 157, 'Walt Simonson': 156, 'Ross Andru': 156, 'Paul Tutrone': 156, 'Tamra Bonvillain': 155, 'Rick Leonardi': 154, 'Avalon Studios': 154, 'Carmine Infantino': 154, 'Saladin Ahmed': 154, 'Mark Powers': 154, 'Sean Chen': 153, 'John Rauch': 153, 'Janice Cohen': 153, 'Hi-Fi Design': 152, 'Sam Humphries': 152, 'John Dell': 152, 'Doug Braithwaite': 151, 'Andrew Hennessy': 150, 'Tom Taylor': 150, 'Walden Wong': 149, 'Frank Cho': 148, 'Dan Jurgens': 148, 'Christopher Priest': 148, 'Mike Hawthorne': 148, 'Marcio Menyz': 148, 'Artie Simek': 148, 'Marc Silvestri': 147, 'David Mack': 147, 'Chic Stone': 147, 'Joe Sabino': 146, 'Rick Magyar': 146, 'Rachel Dodson': 146, 'Carl Potts': 146, 'Roberto Aguirre-Sacasa': 144, 'David Aja': 144, 'Scot George Eaton': 144, 'Petra Scotese': 144, 'Don Warfield': 144, 'Gary Friedrich': 143, 'Jeff Lemire': 142, 'Craig Anderson': 142, 'Pat Brosseau': 141, 'Gerardo Sandoval': 140, 'Takeshi Miyazawa': 140, 'Jim Lee': 140, 'Nic Klein': 140, 'G. Willow Wilson': 140, 'Brian Reed': 140, 'Ken Lopez': 139, 'Alanna Smith': 139, 'Stephanie Hans': 138, 'Robin Furth': 138, 'Mike Allred': 138, 'J.M. DeMatteis': 138, 'Christopher Robinson': 138, 'Jason Latour': 138, 'Reilly Brown': 137, 'Chuck Austen': 137, 'Dale Keown': 136, 'Donald Hudson': 136, 'Frank Springer': 136, 'Nathan Fairbairn': 135, 'Khoi Pham': 135, 'Simon Bowland': 135, 'Syd Shores': 135, 'Ta-Nehisi Coates': 134, 'Jay David Ramos': 134, 'Stuart Moore': 134, 'Frank Miller': 134, 'Lee Weeks': 134, 'Dan Panosian': 133, 'Mark Texeira': 133, 'Mark Mckenna': 133, 'Mike Mayhew': 132, 'Katie Kubert': 132, 'June Chung': 132, 'Walter Simonson': 132, 'Craig Kyle': 131, 'Carmine DI Giandomenico': 131, 'Barry Kitson': 130, 'Duane Swierczynski': 130, 'Whilce Portacio': 130, 'Len Kaminski': 130, 'Matteo Lolli': 129, 'Andy Yanchus': 129, 'John Workman': 129, 'Brian Wood': 128, 'Todd Dezago': 127, 'Ian Herring': 127, 'Javier Garron': 127, 'Erik Larsen': 127, 'Marjorie Liu': 127, 'John Ostrander': 126, 'J. Michael Straczynski': 125, 'Chris Ivy': 125, 'Ed Hannigan': 125, 'Dave Hunt': 124, 'Robert Kirkman': 123, 'Randy Emberlin': 123, 'Ben Sean': 123, 'Kelly Sue Deconnick': 122, 'Sunny Gho': 122, 'Tini Howard': 122, 'Russell Dauterman': 122, 'Jeff Eckleberry': 122, 'Phil Rachelson': 122, 'Ramon Rosanas': 120, 'Michael Kelleher': 120, 'Bobbie Chase': 120, 'Phil Felix': 119, 'Jack Abel': 119, 'Pablo Marcos': 119, 'Jeromy Cox': 118, 'Bud Larosa': 118, 'Dan Adkins': 118, 'Dexter Vines': 118, 'Wes Abbot': 117, 'Mike Deodato Jr.': 117, 'Kevin Tinsley': 117, 'Craig Yeung': 116, 'Ryan North': 116, 'Arif Prianto': 116, 'Javier Tartaglia': 116, 'Dan Crespi': 116, 'Sean Mckeever': 115, 'Keith Williams': 115, 'Tony Isabella': 115, 'Jerome Opena': 115, 'Paul Renaud': 115, 'Tony Dezuniga': 114, 'Al Vey': 114, 'John Barber': 114, 'Israel Silva': 114, 'John Tartaglione': 114, 'Roger Cruz': 114, 'Jon Babcock': 114, 'Michael Lark': 114, 'Dalibor Talajic': 113, 'Neal Adams': 112, 'Victor Gischler': 112, 'Tom Sutton': 112, 'Steven Grant': 112, 'Francesco Mattina': 112, 'Nathan Edmondson': 112, 'Sandu Florea': 111, 'Warren Simons': 111, 'Bruce Patterson': 111, 'Ken Lashley': 111, 'Carl Gafford': 111, 'Mike Choi': 111, 'Ramon Bachs': 110, 'Stephen Segovia': 110, 'Alan Kupperberg': 110, 'Mike Friedrich': 109, 'Carlos Lopez': 109, 'Travel Foreman': 108, 'Paco Diaz': 107, 'Lee Garbett': 107, 'Paul Smith': 106, 'Joe Madureira': 106, 'Brad Anderson': 106, 'Simon Spurrier': 106, 'Paul Cornell': 106, 'Bruce Jones': 105, 'Stan Goldberg': 105, 'Jo Duffy': 104}

In [92]:
#DataFrame of Top 500 Marvel Creators with Creators as Index
creators_500_df = pd.DataFrame.from_dict(creators_500, orient='index')
creators_500_df.head(40)

                         0
Vc Joe Caramagna      3309
Jeff Youngquist       2977
Tom Brevoort          1876
Richard Starkings     1812
Brian Michael Bendis  1660
Stan Lee              1657
Vc Clayton Cowles     1574
Virtual Calligr       1541
Cory Petit            1235
Vc Cory Petit         1212
Nick Lowe             1205
Jordan White          1186
Chris Claremont       1131
Glynis Oliver         1118
Joe Rosen             1108
Peter David           1048
Dave Sharpe           1039
Jack Kirby             983
Bob Sharen             967
Mark Paniccia          959
Roy Thomas             951
Jason Aaron            859
Tom Defalco            856
Sal Buscema            842
Vc Joe Sabino          840
Vc Travis Lanham       833
Mark Bagley            773
Art Simek              760
Al Milgrom             756
Dan Slott              753
Chris Eliopoulos       745
John Romita Jr.        742
Jonathan Hickman       731
Frank D'ARMATA         723
John Costanza          718
Mark Waid              664
Wilson Moss            662
Tom Orzechowski        656
Emily Newcomen         649
Salvador Larroca       633

In [98]:
#What characters are the top 500 Creators associated with
cc_df = pd.DataFrame()
for creator in creators_500:
    creator_df = comics.loc[comics["Creators"] ]
creator_df.head()
# for row in comics.iterrows():
#     row_creator = row[5]
#     row_character = row[4]
#     for creators in row_creator:
#         for creator, count in creators_500:
#             if creator==creators:
#                 for character in row_character:
#                     cc_df[creator][character]= cc_df[creator][character]+1

# cc_df.head()

KeyError: 'Vc Joe Caramagna'

In [ ]:
#Question: are Marvel characters old (i.e., were they created long ago)?

In [ ]:
#Question: did Marvel CU characters tend to appear together?

In [ ]:
#Question: what's the distribution over time of appearances of Marvel characters?

In [ ]:
#What distribution of creators is each character associated with?

In [ ]:
#Which creators were most associated with the MCU

In [ ]:
#When did the creators most associated with the MCU create?

In [ ]:
#What does this suggest about the MCU?

In [ ]:
#Before or after Avengers? [categorical]

In [ ]:
#Prominence of before or after Avengers