In [1]:
import requests
import json
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from matplotlib.pyplot import figure

In [2]:
csv_path = "Movie Marvel Characters.csv"

movies = pd.read_csv(csv_path)

In [9]:
movies_df = pd.DataFrame(movies)

In [13]:
movies_df.rename(columns={"Row Labels": "Character Name", "Count of Movies": "Appearences in MCU Movies"})
top_ten = movies_df.head(10)
top_ten

                           Row Labels  Count of Movies
0                     Captain America               10
1       Natasha Romanoff Black Widow                 8
2                          Nick Fury                 7
3                Bruce Banner "Hulk"                 7
4                          Maria Hill                7
5                Tony Stark "ironMan"                6
6                              Thanos                6
7                 Sam Wilson "Falcon"                6
8  james "Rhodey" Rhodes War Machine                 6
9                               Thor                 6

In [16]:
movies_df.to_csv("MoviesDF.csv", index = False)